/* Static registration section */

#lpc-mapa-registration {
  max-width: 600px;
  margin: 0 auto;
}

#lpc-mapa-registration .lpc-mapa--registration-top {
  background: #009EE2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

#lpc-mapa-registration .lpc-mapa--registration-top-line1 {
  margin: 20px 0 0 0;
  font-family: 'Sora', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
}

#lpc-mapa-registration .lpc-mapa--registration-top-line2 {
  font-family: 'Sora', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-container {
  margin: 4px 0 0 0;
  display: flex;
  flex-direction: row;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-left {
  position: relative;
  background: #009EE2;
  padding: 60px 15px 35px;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-right {
  position: relative;
  background: #35A8E0;
  padding: 60px 15px 35px;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-arrow-left {
  position: absolute;
  top: -32px;
  left: 40%;
  margin-left: -13.5px;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-arrow-right {
  position: absolute;
  top: -32px;
  right: 40%;
  margin-right: -13.5px;
}

#lpc-mapa-registration .lpc-mapa--registration-buttons-line {
  margin: 0 0 35px 0;
  font-family: 'Sora', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
}

#lpc-mapa-registration .lpc-mapa--registration-button {
  align-self: stretch;
  display: block;
  margin: 0;
  padding: 10px;
  background: #2D2E82;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(44,46,131,0.80);

  font-family: 'Sora', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

#lpc-mapa-registration .lpc-mapa--registration-button:hover,
#lpc-mapa-registration .lpc-mapa--registration-button:focus {
  background-color: black;
  text-decoration: none;
  color: #ffffff;
} 

@media screen and (max-width: 500px) {
  #lpc-mapa-registration {
    margin: 0 -30px 0 -34px;
  }

  #lpc-mapa-registration .lpc-mapa--registration-buttons-line {
    font-size: 16px;
  }

  #lpc-mapa-registration .lpc-mapa--registration-button {
    font-size: 13px;
  }
}

/* React map */

#lpc-mapa-root .lpc-mapa--header-currently {
  margin: 60px 0 0 0;
  font-family: 'Sora', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #2C2E83;
  text-align: center;
}

#lpc-mapa-root .lpc-mapa--display-switch {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lpc-mapa-root .lpc-mapa--display-switch > button {
  margin: 0 -1px;
  padding: 8px 12px;
  border: 2px solid #CCCDE1;
  background: none;
  z-index: 9;

  font-family: 'Sora', serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  color: #6C6DA9;
  text-align: center;
  cursor: pointer;
}

#lpc-mapa-root .lpc-mapa--display-switch > button:hover,
#lpc-mapa-root .lpc-mapa--display-switch > button:focus {
  border-color: #2C2E83;
  z-index: 10;
}

#lpc-mapa-root .lpc-mapa--display-switch > button.active {
  z-index: 10;
  border-color: #2C2E83;
  color: #2C2E83;
}

#lpc-mapa-root .lpc-mapa--display-switch > button > img {
  display: inline-block;
  margin: -9px 6px -9px 0;
}

#lpc-mapa-root .lpc-mapa--map-container {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 500px) {
  #lpc-mapa-root {
    margin: 0 -30px 0 -34px;
  }

  #lpc-mapa-root .lpc-mapa--header-currently {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Leaflet popup */

#lpc-mapa-root .leaflet-popup-content {
  font-size: 12px;
  font-family: "Sora", serif;
  font-weight: 400;
  color: #000000;
}

/* Leaflet marker cluster */

#lpc-mapa-root .marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
#lpc-mapa-root .marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

#lpc-mapa-root .marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
#lpc-mapa-root .marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

#lpc-mapa-root .marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
#lpc-mapa-root .marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
#lpc-mapa-root .leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
#lpc-mapa-root .leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

#lpc-mapa-root .leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
#lpc-mapa-root .leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

#lpc-mapa-root .leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
#lpc-mapa-root .leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

#lpc-mapa-root .marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
#lpc-mapa-root .marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
  font-size: 12px;
  font-family: "Sora", serif;
  font-weight: 700;
  color: #000000;
}
#lpc-mapa-root .marker-cluster span {
	line-height: 30px;
}
